<h2>{{ formTitle }}</h2>

<form [formGroup]="gameForm" (ngSubmit)="submit()">
  <input
    formControlName="name"
    placeholder="Game Name"
    [class.invalid]="
      gameForm.get('name')?.invalid && gameForm.get('name')?.touched
    "
  />

  <select
    formControlName="genreId"
    [class.invalid]="
      gameForm.get('genreId')?.invalid && gameForm.get('genreId')?.touched
    "
  >
    <option value="" disabled>Select Genre</option>
    <option *ngFor="let genre of genres" [value]="genre.id">
      {{ genre.name }}
    </option>
  </select>

  <input
    formControlName="price"
    type="number"
    placeholder="Price"
    [class.invalid]="
      gameForm.get('price')?.invalid && gameForm.get('price')?.touched
    "
  />

  <input
    formControlName="releaseDate"
    type="date"
    [class.invalid]="
      gameForm.get('releaseDate')?.invalid &&
      gameForm.get('releaseDate')?.touched
    "
  />

  <input formControlName="publisher" placeholder="Game Publisher" type="text" />

  <div *ngIf="selectedImage" class="image-preview">
    <p>Current Image:</p>
    <img
      [src]="selectedImage"
      alt="Game Image"
      style="width: 150px; height: auto; border-radius: 8px"
    />
  </div>

  <input
    formControlName="image"
    type="file"
    accept="image/*"
    (change)="onImageSelected($event)"
  />

  <textarea
    formControlName="description"
    rows="5"
    placeholder="Game Description"
  ></textarea>

  <button type="submit" [disabled]="gameForm.invalid">
    {{ formTitle.includes("Edit") ? "Update Game" : "Add Game" }}
  </button>
</form>

<button type="button" (click)="showGames()">Go Back</button>
