<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Release Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.id }}</td>
      <td>{{ game.name }}</td>
      <td>{{ game.genre }}</td>
      <td>{{ game.price }}</td>
      <td>{{ game.releaseDate }}</td>
      <td>
        <button (click)="editGame(game.id)">&#9998;</button>
      </td>
      <td>
        <button (click)="deleteGame(game.id)">&#128465;</button>
      </td>
    </tr>
  </tbody>
</table>
